.typeqast-contactList__profileImg {
  height: 75px;
  border-radius: 40px;
  border: 3px solid #eaeded;
}

.typeqast-contactList__addNewInnerDiv:hover {
  cursor: pointer;
}

.typeqast-contactList__addNewInnerDiv {
  height: calc(100% - 20px) !important;
  border: 1px dashed #a0d4da;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.typeqast-contactList__contactName {
  color: #bbc4c3;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}

.typeqast-contactList__favoriteIcon {
  left: 15px;
  position: relative;
  top: 15px;
  font-size: 20px;
  color: #bcc5c4
}

.typeqast-contactList__editIcon {
  position: relative;
  top: 15px;
  font-size: 20px;
  color: #bcc5c4;
  right: 30px;
}

.typeqast-contactList__deleteIcon {
  position: relative;
  top: 15px;
  font-size: 20px;
  color: #bcc5c4;
  right: 15px;
}

.typeqast-contactList__contactItem {
  margin: 10px 0;
  border: 1px solid #e4e7e7;
  border-radius: 5px;
}

.typeqast-contactList__contactItem:hover {
  border: 1px solid #51abb5;
}

.typeqast-contactList__actionsRow {
  padding-bottom: 20px;
}

.typeqast-contactList__deleteIcon-favoritesView {
  display: none;
}

.typeqast-contactList__editIcon-favoritesView {
  display: none;
}

.typeqast-contactList__contactItem:hover .typeqast-contactList__deleteIcon-favoritesView {
  display: initial;
  position: relative;
  top: 15px;
  font-size: 20px;
  color: #bcc5c4;
  right: 15px;
}

.typeqast-contactList__contactItem:hover .typeqast-contactList__editIcon-favoritesView {
  display: initial;
  position: relative;
  top: 15px;
  font-size: 20px;
  color: #bcc5c4;
  right: 30px;
}

@media only screen and (max-width: 600px) {
  .typeqast-contactItem__imageNameRow {

  }

  .typeqast-contactList__actionsRow {
    width: 30%;
    float: right;
  }
}